
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1e2132">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#1e2132">

    <link rel="canonical" href="https://cointiply.com"/>

    <!-- CSRF Token -->
    <meta name="csrf-token" content="wsLXXCWhdZjNMlmNLfbnxmfD87ZH7v2UaxET2OvV">

        <title>Diamond CrytoTrading Bitcoin Faucet - Earn Free Bitcoin</title>
    <meta name="description" content="Earn free Bitcoin from the best Bitcoin faucet & rewards platform. Complete offers & surveys, watch videos & play games to earn even more Bitcoin.">
    
    <style type="text/css">
        body {
            background-color: #272d3b
        }
        .partner-images img {
    max-width: initial !important;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: inline !important;
}
    </style>

    <!-- Styles -->
    <link rel="stylesheet" href="https://cointiply.com/v3/css/color-variation.css">
    <link rel="stylesheet" href="https://cointiply.com/v3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cointiply.com/v3/style.min.css">
    <link rel="stylesheet" href="https://cointiply.com/v3/css/elements.css">
    <link rel="stylesheet" href="https://cointiply.com/v3/css/responsive.css">
    <!-- <link rel="stylesheet" href="/v3/css/icofont.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112733560-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        
                    gtag('config', 'UA-112733560-1');
        
    </script>

        <style type="text/css">
        .focus-input {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            border-radius: 20px;
            box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
            -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
            -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }
        .email-input-wrap {
            width: 100%;
            position: relative;
            background-color: #fff;
            border-radius: 20px;
            margin-bottom: 15px;
        }
        .email-input {
            outline: none;
            border: none;
            display: block;
            width: 100%;
            background: transparent;
            font-family: inherit;
            font-size: 20px;
            font-weight: 600;
            color: #1e2028;
            line-height: 1.2;
            height: 48px;
            padding: 0 16px 0 16px;
        }
        .navbar-brand>img {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: 50%;
}
    width: 50%;
}

        @media (max-width: 767px) and (min-width: 320px)
{
  .navbar-brand > img {
    width: 33%;
    margin-top: -67px !important;
}
    width: 45%;
}
}


.card{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#fe0847,#feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
.card:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card ,
.col-sm-4:nth-child(1) .card .title .fa{
  background: linear-gradient(-45deg,#f403d1,#64b5f6);

}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
  background: linear-gradient(-45deg,#ffec61,#f321d7);

}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa{
  background: linear-gradient(-45deg,#24ff72,#9a4eff);

}
.card::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
z-index: 1;
-webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}
.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}
.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
 z-index: 2;
}
.price,.option{
  position: relative;
  z-index: 2;
}
.price h4 {
margin: 0;
padding: 20px 0 ;
color: #fff;
font-size: 60px;
}
.option ul {
  margin: 0;
  padding: 0;

}
.option ul li {
margin: 0 0 10px;
padding: 0;
list-style: none;
color: #fff;
font-size: 16px;
}
.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color : black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0 ;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}
.card a:hover{
    text-decoration: none;
}
.price h4 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 41px;
}

.price h4 {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 32px;
}
    </style>

    <script type="text/javascript">
        window.shared = {
        	user: null,
            SETTINGS: {
                COIN_NAME: 'Coins',
                SOLVEMEDIA_KEY: 'yV2-eDlG17xYgQSNc9RF31oDSJmLOwhY',
            },
        };

        			window.shared.axiosConfig = {
                headers: {
                }
            }
		
    </script>

        
</head>
<body>

        <div id="app">
            <!-- page wrapper start -->
    <div id="page-top" class="wrapper">

        <!-- header area start -->
        <header class="home-style-2">
            <nav class="navbar navbar-fixed-top" data-spy="affix" data-offset-top="1">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href=""><img src="../assets/img/diamond.png" style="margin-top: -55px;" alt="logo" class="img-responsive"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active" ><a href="/">Home</a></li>
                            <li class="inactive"><a href="#how-it-works-area">How it Works</a></li>
                            <li class="inactive"><a href="#features-area">Features</a></li>
                                                            <li class="inactive"><a href="../users/register">Register</a></li>
                                <li class="inactive"><a href="../users/login">Login</a></li>
                                                        <li class="inactive"><a href="https://cointiply.freshdesk.com" rel="nofollow" target="_blank">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- header area end -->

        <!-- slider area start -->
        <section id="slider-area" class="home-style-2 blue-grad-bg bg15">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="promo-header-area text-center">
                            <h2 >Over $700,000 Paid</h2>
                            <h1 >Earn Free Bitcoin</h1>
                            <form method="get" action="../users/register">
                                <input type="hidden" name="_token" value="wsLXXCWhdZjNMlmNLfbnxmfD87ZH7v2UaxET2OvV">

                                <div class="col-lg-8 col-lg-offset-2 mt-20">
                                    <div class="email-input-wrap">
                                        <input type="text" name="email" class="email-input" placeholder="Enter Your Email Address"/>
                                        <span class="focus-input"></span>
                                    </div>
                                </div>


                                <div class="col-lg-8 col-lg-offset-2">
                                    <button type="submit"  class="btn btn-style-2 mb-15" style="font-size: 22px; margin-top: 2px; width: 100%;">Start Earning Now</button> <br/>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                            <div class="mt-10 text-center col-lg-8 col-lg-offset-2">
                                <div class="color-white"><span style="font-weight: 600;">Trusted by over 1 million users.</span> </span>
                            </div>

                            <!-- Swiper -->
                            <div class="row text-center">
                                <picture style="margin-right: auto; margin-left: auto;">
                                    <source srcset="../assets/img/laptop.png" type="image/webp">
                                    <source srcset="../assets/img/laptop.png" type="image/png">
                                    <img src="../assets/img/laptop.png" class="img-responsive mt-20" alt="Cointiply">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- slider area end -->

        <!-- app features area start -->
        <section id="partners-area" class="home-style-2 pt-20 pb-80">

            <div class="margin-top-10 margin-bottom-30 text-center col-lg-8 col-lg-offset-2">
                <div class="partner-images padding-40 margin-bottom-10 text-center">
                    <p style="font-weight: 600; font-size: 18px; margin-bottom: 40px;">Join the highest paying Bitcoin Investments & Forex Trading rewards site.
<br/>Earn thousands of Dollars every day.</p>
                    <img src="../assets/assets/partners/partners.jpg" class="img-responsive display-inline margin-top-10"/>

                    
                </div>

            </div>

            <div class="clearfix"></div>
        </section>
        <!-- app features area end -->

        <!-- how it work area start -->
        <section id="how-it-works-area" class="gray-bg ptb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-heading shape-2 text-center margin-bottom-20">
                            <h2>HOW DOES IT WORK?</h2>
                        </div>
                    </div>
                </div>
                <div class="hiw-feature-content style-2">
                    <div class="hiw-mockup style-2">
                        <img src="./" alt="" class="img-responsive center-block mt-60">
                    </div>
                    <div class="row">
                        <div class="col-sm-4 p-0  wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                            <div class="hiw-feature three media">
                                <div class="hiw-feature-icon media-left">
                                    <img src="../assets/assets/img/onboard/046-small.png" alt="" width="64" height="64">
                                </div>
                                <div class="hiw-feature-details media-body">
                                    <h5>Sign Up</h5>
                                    <p>Create a new account and login to get started.</p>
                                </div>
                            </div>
                            <div class="hiw-feature three media">
                                <div class="hiw-feature-icon media-left">
                                    <img src="../assets/assets/img/onboard/035-small.png" alt="" width="64" height="64">
                                </div>
                                <div class="hiw-feature-details media-body">
                                    <h5>FOLLOW US</h5>
                                    <p>Follow us on all social-networks</p>
                                </div>
                            </div>
                            <div class="hiw-feature three media">
                                <div class="hiw-feature-icon media-left">
                                    <img src="../assets/assets/img/onboard/088-small.png" alt="" width="64" height="64">
                                </div>
                                <div class="hiw-feature-details media-body">
                                    <h5>JOIN OUR CHANNEL</h5>
                                    <p>Join our Ever Expanding Telegram Channel</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                            <div class="hiw-feature four media">
                                <div class="hiw-feature-icon media-left">
                                    <img src="../assets/assets/img/onboard/069-small.png" alt=" " width="64" height="64">
                                </div>
                                <div class="hiw-feature-details media-body">
                                    <h5>INVESTMENT PLANS</h5>
                                    <p>Choose any Investment Plan of your choice

</p>

                                </div>
                            </div>
                            <div class="hiw-feature three media">
                                <div class="hiw-feature-icon media-left">
                                    <img src="../assets/assets/img/onboard/050-small.png" alt="" width="64" height="64">
                                </div>
                                <div class="hiw-feature-details media-body">
                                    <h5>WORK WITH US</h5>
                                    <p>Perform Tasks and Earn BTC Daily</p>
                                </div>
                            </div>
                            <div class="hiw-feature three media">
                                <div class="hiw-feature-icon media-left">
                                    <img src="../assets/assets/img/onboard/048-small.png" alt="" width="64" height="64">
                                </div>
                                <div class="hiw-feature-details media-body">
                                    <h5>WATCH VIDEOS</h5>
                                    <p>Watch videos Of testimonies.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- how it work area end -->
   
        <section style='  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 140px 0;'>
       <h2 style='text-align:center; margin-bottom:5%'>Find an Investment Plan That's Right For You
</h2>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              <h2>Basic</h2>
            </div>
            <div class="price">
              <h4><sup></sup>Investment plans</h4>
            </div>
            <div class="option">
              <ul>
              <li> <i class="fa fa-check" aria-hidden="true"></i>               48 hours Investment Time
</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Minimum $100: 1 Via Bitcoin or Etherium </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Transfer Fee: $10 For withdrawal charges
</li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Profit Margin: 500%
 </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Automatic payout in BTC
</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Available for new Investors
 </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i>Renewal Optional
 </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> 5%
Referral Bonus </li>
              </ul>


            </div>
            <a href="../users/register">Invest Now </a>
          </div>
        </div>
        <!-- END Col one -->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-plane" aria-hidden="true"></i>
              <h2>Standard</h2>
            </div>
            <div class="price">
              <h4><sup></sup>Investment plans</h4>
            </div>
            <div class="option">
              <ul>
              <li> <i class="fa fa-check" aria-hidden="true"></i>               24 hours Investment Time
</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Minimum $100: 1 Via Bitcoin or Etherium </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Transfer Fee: $300 For withdrawal charges
</li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Profit Margin: 500%-700%
 </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Automatic payout in BTC
</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Available for new Investors
 </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i>Renewal Optional
 </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> 10%
Referral Bonus </li>
              </ul>
            </div>
            <a href="../users/register">Invest Now </a>
          </div>
        </div>
        <!-- END Col two -->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              <h2>Premium</h2>
            </div>
            <div class="price">
              <h4><sup></sup>Investment plans</h4>
            </div>
            <div class="option">
              <ul>
               <li> <i class="fa fa-check" aria-hidden="true"></i>               12 hours Investment Time
</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Minimum $500: 1 Via Bitcoin or Etherium </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i> Transfer Fee:  none
</li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> Profit Margin: 10%
 </li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Automatic Payout in Bitcoin, Skrill, Cash App, Paypal and Bank Transfer

</li>
              <li> <i class="fa fa-check" aria-hidden="true"></i>Only Available To Advanced Plan Investors
 </li>
              <li> <i class="fa fa-check" aria-hidden="true"></i>Renewal Optional
 </li>
              <li> <i class="fa fa-times" aria-hidden="true"></i> 20%
Referral Bonus </li>
              </ul>
            </div>
            <a href="../users/register">Invest Now </a>
          </div>
        </div>
        <!-- END Col three -->
      </div>
    </div>
  </div>
</section>

        <!-- app download area start -->
        <section id="earn-area" class="home-style-2 blue-grad-bg-2 ptb-120">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="download-app">
                            <h1>Earn More With US</h1>
                            <p>We have paid our members over $700,000. <br/><br/>
You will earn more money with Diamond CrytoTrading than every other Bitcoin Mining or Forex Trading site combined.</p>
                          
                            <div class="button-group store-buttons ">
                                <a href="../users/register" class="btn btn-style-2 btn-bordered-white mb-0">

                                    <p class="dsp-tc"> <span>Sign Up</span></p>
                                </a>
                                <a href="../users/login" class="btn btn-style-2 btn-bordered-white mb-0">

                                    <p class="dsp-tc"> <span>Login</span></p>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- app download area end -->


        <!-- awesome feature area start -->
        <section id="features-area" class="overlay-white ptb-120">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-heading shape-2 text-center">
                            <h2>Diamond CrytoTrading Features</h2>
                            <p>Our Features Are Unbeatable</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="awesome-feature one style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span><i class="md-icon material-icons md-theme-default">today</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>Instant connect</h5>
                                <p>The mining starts immediately after confirmed payment. First payouts within 24 hours.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                        <div class="awesome-feature two style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span><i class="md-icon material-icons md-theme-default">attach_money</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>Instant withdrawal</h5>
                                <p>Choose the amount to withdraw and receive it instantly</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                        <div class="awesome-feature three style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span><i class="md-icon material-icons md-theme-default">account_balance</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>Detailed statistics</h5>
                                <p>View all mining related information in real-time, at any point from any location.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                        <div class="awesome-feature four style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span><i class="md-icon material-icons md-theme-default">redeem</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>Pool Allocation</h5>
                                <p>You can decide which pools you want your hashrate to mine in. This allows you to find the most profitable combination.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                            <div class="awesome-feature four style-2 media">
                                <div class="awesome-feature-icon media-left">
                                    <span><i class="md-icon material-icons md-theme-default">local_play</i></span>
                                </div>
                                <div class="asesome-feature-details media-body">
                                    <h5>Fixed Fees</h5>
                                    <p>No hidden fees or comissions. Every single transaction is visible to you.</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                        <div class="awesome-feature five style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span> <i class="md-icon material-icons md-theme-default">chat_bubble</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>COMMUNITY</h5>
                                <p>Chat & share your progress with other like-minded Diamond CrytoTrading users.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                        <div class="awesome-feature five style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span> <i class="md-icon material-icons md-theme-default">account_balance_wallet</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>FAST PAYMENTS</h5>
                                <p>Withdraw your Coins any time to FaucetHub or your Bitcoin or Doge Wallet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="1.2s">
                        <div class="awesome-feature six style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span><i class="md-icon material-icons md-theme-default">contact_support</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>EXPERT SUPPORT</h5>
                                <p>Our support team is the best in the business and is always available to help.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 p-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="1.2s">
                        <div class="awesome-feature six style-2 media">
                            <div class="awesome-feature-icon media-left">
                                <span><i class="md-icon material-icons md-theme-default">people</i></span>
                            </div>
                            <div class="asesome-feature-details media-body">
                                <h5>25% FOR REFERRALS</h5>
                                <p>Earn 25% of all your referrals claims and 10% of their offer earnings.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- awesome feature area end -->

        <!-- fun fact area start -->
        <section id="fun-fact-area" class="overlay-grad-two ptb-120 bg1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-fact text-center">
                            <i class="md-icon material-icons md-theme-default">assignment</i>
                            <h5>OFFERS COMPLETED</h5>
                            <h2 class="counter">26,541,623</h2>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-fact text-center">
                            <i class="md-icon material-icons md-theme-default">speed</i>
                            <h5>FAUCET CLAIMS</h5>
                            <h2 class="counter">99,429,321</h2>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-fact text-center">
                            <i class="md-icon material-icons md-theme-default">people</i>
                            <h5>TOTAL USERS</h5>
                            <h2 class="counter">1,269,579</h2>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-fact text-center">
                            <i class="md-icon material-icons md-theme-default">assessment</i>
                            <h5>BITCOIN EARNED</h5>
                            <h2 class="counter">201.03201242</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- fun fact area end --> 

        <!-- footer area start -->
        <footer id="footer-area" class="home-style-2 pt-40">
            <div class="container">
                <div class="row center-block text-center">
                    <div class="col-sm-3">
                        <a href="/"><img style='    width: 50%;' src="../assets/img/diamond.png" class="mt-40"></a>
                    </div>
                    <div class="col-sm-2 mt-10">
                        <h5>Get Started</h5>
                        <ul>
                            <li><a href="../users/register">Sign Up</a></li>
                            <li><a href="../users/login">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 mt-10">
                        <h5>About Us</h5>
                        <ul>
                            <li><a href="/terms" rel="nofollow">Terms of Service</a></li>
                            <li><a href="/privacy" rel="nofollow">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 mt-10">
                        <h5>Support</h5>
                        <ul>
                                                            <li><a href="#" rel="nofollow" target="_blank">FAQ & Help Desk</a></li>
                                                        <li><a href="#" rel="nofollow" target="_blank">System Status</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 mt-10">
                         <div class="social-networks mt-20 mb-10 ml-40" style='display:flex'>
                            <a href="https://m.facebook.com/Diamond CrytoTrading?_rdr" rel="nofollow" class="twitter" target="_blank"><img src="../assets/assets/img/fb.png" style='width: 70%;'></a>
                            <a href="https://www.instagram.com/Octa_fxoptionsplus/" rel="nofollow" class="twitter" target="_blank"><img src="../assets/assets/img/instagram.png" style='width: 70%;'></a> 
                            <a href="Https://t.me/Diamond CrytoTrading_IQ_OPTIONPLUS" rel="nofollow" class="twitter" target="_blank"><img src="../assets/assets/img/telegram.png" style='width: 100%; margin-top:-7%;'></a>
                            <a href="Https://wa.me/+13125743905" rel="nofollow" class="twitter" target="_blank"><img src="../assets/assets/img/whatsapp.png" style='width: 80%;'></a>

                        </div>
                                                    <a href="3" target="_blank" rel="nofollow" class="btn btn-style-2">Contact Us</a>
                                            </div>
                </div>
                <div class="copyright text-center mt-20">
                    <p>© Copyright  2020 3DAH</p>
                </div>
            </div>
        </footer>
        <!-- footer area end -->




    </div>
    <!-- page wrapper end -->
    </div>

            <script type="text/javascript">
            /*! modernizr 3.6.0 (Custom Build) | MIT *
            * https://modernizr.com/download/?-webp-setclasses !*/
            !function(e,n,A){function o(e,n){return typeof e===n}function t(){var e,n,A,t,a,i,l;for(var f in r)if(r.hasOwnProperty(f)){if(e=[],n=r[f],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(A=0;A<n.options.aliases.length;A++)e.push(n.options.aliases[A].toLowerCase());for(t=o(n.fn,"function")?n.fn():n.fn,a=0;a<e.length;a++)i=e[a],l=i.split("."),1===l.length?Modernizr[l[0]]=t:(!Modernizr[l[0]]||Modernizr[l[0]]instanceof Boolean||(Modernizr[l[0]]=new Boolean(Modernizr[l[0]])),Modernizr[l[0]][l[1]]=t),s.push((t?"":"no-")+l.join("-"))}}function a(e){var n=u.className,A=Modernizr._config.classPrefix||"";if(c&&(n=n.baseVal),Modernizr._config.enableJSClass){var o=new RegExp("(^|\\s)"+A+"no-js(\\s|$)");n=n.replace(o,"$1"+A+"js$2")}Modernizr._config.enableClasses&&(n+=" "+A+e.join(" "+A),c?u.className.baseVal=n:u.className=n)}function i(e,n){if("object"==typeof e)for(var A in e)f(e,A)&&i(A,e[A]);else{e=e.toLowerCase();var o=e.split("."),t=Modernizr[o[0]];if(2==o.length&&(t=t[o[1]]),"undefined"!=typeof t)return Modernizr;n="function"==typeof n?n():n,1==o.length?Modernizr[o[0]]=n:(!Modernizr[o[0]]||Modernizr[o[0]]instanceof Boolean||(Modernizr[o[0]]=new Boolean(Modernizr[o[0]])),Modernizr[o[0]][o[1]]=n),a([(n&&0!=n?"":"no-")+o.join("-")]),Modernizr._trigger(e,n)}return Modernizr}var s=[],r=[],l={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var A=this;setTimeout(function(){n(A[e])},0)},addTest:function(e,n,A){r.push({name:e,fn:n,options:A})},addAsyncTest:function(e){r.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=l,Modernizr=new Modernizr;var f,u=n.documentElement,c="svg"===u.nodeName.toLowerCase();!function(){var e={}.hasOwnProperty;f=o(e,"undefined")||o(e.call,"undefined")?function(e,n){return n in e&&o(e.constructor.prototype[n],"undefined")}:function(n,A){return e.call(n,A)}}(),l._l={},l.on=function(e,n){this._l[e]||(this._l[e]=[]),this._l[e].push(n),Modernizr.hasOwnProperty(e)&&setTimeout(function(){Modernizr._trigger(e,Modernizr[e])},0)},l._trigger=function(e,n){if(this._l[e]){var A=this._l[e];setTimeout(function(){var e,o;for(e=0;e<A.length;e++)(o=A[e])(n)},0),delete this._l[e]}},Modernizr._q.push(function(){l.addTest=i}),Modernizr.addAsyncTest(function(){function e(e,n,A){function o(n){var o=n&&"load"===n.type?1==t.width:!1,a="webp"===e;i(e,a&&o?new Boolean(o):o),A&&A(n)}var t=new Image;t.onerror=o,t.onload=o,t.src=n}var n=[{uri:"data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=",name:"webp"},{uri:"data:image/webp;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAABBxAR/Q9ERP8DAABWUDggGAAAADABAJ0BKgEAAQADADQlpAADcAD++/1QAA==",name:"webp.alpha"},{uri:"data:image/webp;base64,UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA",name:"webp.animation"},{uri:"data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=",name:"webp.lossless"}],A=n.shift();e(A.name,A.uri,function(A){if(A&&"load"===A.type)for(var o=0;o<n.length;o++)e(n[o].name,n[o].uri)})}),t(),a(s),delete l.addTest,delete l.addAsyncTest;for(var p=0;p<Modernizr._q.length;p++)Modernizr._q[p]();e.Modernizr=Modernizr}(window,document);
        </script>

        <!-- All Js files-->
        <script src="https://cointiply.com/v3/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="https://cointiply.com/v3/js/bootstrap.min.js"></script>
        <script src="https://cointiply.com/v3/js/plugins.js"></script>
        <script src="https://cointiply.com/v3/js/main.js"></script>
    
    
        
</body>
</html>