<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diamond CrytoTrading</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../assets/Login_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/Login_v1/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../assets/Login_v1/vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/Login_v1/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/Login_v1/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../assets/Login_v1/css/util.css" />
    <link rel="stylesheet" type="text/css" href="../assets/Login_v1/css/main.css" />
    <!--===============================================================================================-->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../assets/Login_v1/../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/Login_v1/../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/Login_v1/../css/themify-icons.css" />
    <link rel="stylesheet" href="../assets/Login_v1/../css/animate.css" />
    <link rel="stylesheet" href="../assets/Login_v1/../css/owl.carousel.css" />
    <link rel="stylesheet" href="../assets/Login_v1/../css/style.css" />

    <style>
      .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
           background: rgba(0,0,0,0) url(../assets/assets/img/bg/bg15.webp) no-repeat scroll center center/cover;
      }
           .p-t-136 {
    padding-top: 15px !important ;
}

      .login100-form-btn {
        font-family: Montserrat-Bold;
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        background: #3264ca;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
      }
      .site-btn {
    position: relative;
    display: flex;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 50px;
    font-family: "Futura", sans-serif;
    min-width: 170px;
    text-align: center;
    border: 2px solid #7ad4cc;
    cursor: pointer;
    color: #3cb7ac;
    margin: 1% 15%;
    justify-content: center;
}
.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 130px 33px 95px;
}
.wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px 23px 35px;
    margin-top: -13.666%;
}
.wrap-login100 {
    width: 960px;
    background: #272e3c;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 30px 23px 35px;
    margin-top: -2.666%;
    color: white;
        box-shadow: 1px 1px 1px #272e3c;

}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #f8f9fa;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}
.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #f8f9fa;
}

    </style>
  </head>
  <body>
    <!-- Header section -->

    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="../assets/Login_v1/images/img-01.png" alt="IMG" />
          </div>

          <form class="login100-form validate-form"  action="/users/register" id='form' method="POST">
            <span class="login100-form-title"> Register Now! </span>
              <% include ./partials/messages %>

              <div
              class="wrap-input100 validate-input"
              data-validate=""
            >
              <input
                class="input100"
                type="text"
                name="name"
                placeholder="Name"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="Email"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate=""
            >
              <input
                class="input100"
                type="text"
                name="walletName"
                placeholder="Wallet Name... bitcoin or ethererum"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-bank" aria-hidden="true"></i>
              </span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate=""
            >
              <input
                class="input100"
                type="text"
                name="walletId"
                placeholder="Wallet Id eg(324aW3dGFeJ1zAhJjF8EEzYqGQ1cg4yCVz)"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-money" aria-hidden="true"></i>
              </span>
            </div>

            

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

             <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                name="password2"
                placeholder="Comfirm Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn">Register</button>
            </div>

            <div class="text-center p-t-12">
              
            </div>

            <div class="text-center p-t-136">
              <a class="txt2" href="/users/login">
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                Have and Account Login now!
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../assets/Login_v1/../js/jquery-3.2.1.min.js"></script>
    <script src="../assets/Login_v1/../js/owl.carousel.min.js"></script>
    <script src="../assets/Login_v1/../js/main.js"></script>

    <!--===============================================================================================-->
    <script src="../assets/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/Login_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="../assets/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/Login_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../assets/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>
    <!--===============================================================================================-->
    <script src="../assets/Login_v1/js/main.js"></script>
    <script src="../assets/Login_v1/../js/jquery-3.2.1.min.js"></script>
    <script src="../assets/Login_v1/../js/owl.carousel.min.js"></script>
    <script src="../assets/Login_v1/../js/main.js"></script>
  </body>
</html>
